<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ViewEmployee</servlet-name>
    <servlet-class>Servlet.ViewEmployee</servlet-class>
    <init-param>
      <param-name>ServletName</param-name>
      <param-value>View Employee</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployee</servlet-name>
    <url-pattern>/employee/*</url-pattern>
  </servlet-mapping>
</web-app>
